node_modules

# I18N
project.inlang/cache
project.inlang/project_id

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# DB
data/pb_data
data/_*

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Paraglide
src/lib/paraglide
project.inlang/cache

!.gitkeep
